/* General Reset */
body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 5px;
}

p {
  margin-bottom: 5px;
}
/* Body Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3a7e5f;
  font-family: "Happy Monkey", system-ui;
}

/* Game Container Styles */
.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Title and Round Keeper Styles */
.gameContainer h1 {
  margin-bottom: 10px;
}

.gameContainer h2 {
  margin-bottom: 20px;
}

/* Weapon Container Styles */
.weaponContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.weaponContainer button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 5px;
}

.userWeaponContainer button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.userWeaponContainer,
.enemyWeaponContainer {
  margin-top: 20px;
}

/* Current Result and Score Styles */

.gameKeeperDisplay {
  width: 40vh;
  background-color: #3a7e5f;
  padding: 10px;
  border-radius: 5px;
  color: rgb(241, 245, 239);
}

#currentResult {
  margin-bottom: 10px;
}

#score {
  margin-top: 10px;
}

/* Play Again Button Styles */
#playAgainButton {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, height 0.5s ease, visibility 0.5s ease;
  height: 45px;
  visibility: hidden;
}

#playAgainButton.visible {
  visibility: visible;
  height: auto;
}

#playAgainButton:hover {
  background-color: #63c76a93;
}

img {
  width: 50px;
}

@keyframes flash {
  0% {
    background-color: rgb(41, 134, 29);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(41, 134, 29);
  }
}

.flash {
  animation: flash 2s ease;
}

#roundKeeper {
  color: #12650b;
}
table {
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
  padding: 5px;
}
